@using EasyMektep.Models.Statistics
@using Newtonsoft.Json
@model StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}
<head>
    <link rel="stylesheet" href="~/views/statistics/index.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
@section scripts
{
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChartPie);
        google.charts.setOnLoadCallback(drawChartDonat);

        $(document).ready(function () {
            if (window.matchMedia("(min-width: 1200px)").matches) {
            }
            document.getElementById('All time').style.display = 'inline-flex';
        });
        //#6B408C
        function drawChart() {


            var dataPC = new google.visualization.DataTable();
            dataPC.addColumn('date', 'xs');
            dataPC.addColumn('number', 'y');
            var arr = [];
            @foreach (var item in Model.TopLine)
{
	@:arr.push("@item.", "@item.Number")
}
            dataPC.addRows(arr);

            var options = {
                curveType: 'function',
                hAxis: {
                    format: 'dd/MM',
                },
                colors: ['#6B408C'],
                'chartArea': { 'width': '90%', 'height': '80%' },
                legend: 'none',
                pointSize: 5
            };

            var chartPC = new google.visualization.LineChart(document.getElementById('curve_chartPC'));
            chartPC.draw(dataPC, options);
        }
        function drawChartPie() {
            var data = google.visualization.arrayToDataTable([
                ['State', 'Percent'],
                ['86%', 86], ['14%', 14]
            ]);

            var options = {
                legend: 'none',
                pieStartAngle: 90,
                pieSliceText: 'percentage',
                pieSliceTextStyle: { fontName: 'Poppins', fontSize: 14, fontWeight: 400 },
                slices: {
                    0: {
                        color: '#6B408C',
                    },
                    1: { color: '#37C24E', offset: 0.2 }
                }
            };

            /*var chart = new google.visualization.PieChart(document.getElementById('piechart'));*/
            var chartPC = new google.visualization.PieChart(document.getElementById('piechartPC'));
            /*chart.draw(data, options);*/
            chartPC.draw(data, options);
        }
        function drawChartDonat() {
            //control is here
            let larguraGraficoFora = 200;
            let alturaGraficoFora = 200;
            let furoGraficoFora = 0.7;
            var data = google.visualization.arrayToDataTable(
                [
                    ['Plagiarism', 'Percentage'],
                    ['Low', 87],
                    ['', 5],
                    ['High', 3],
                    ['', 5]
                ]);

            var options = {
                width: larguraGraficoFora,
                height: alturaGraficoFora,
                chartArea: { left: 0, top: 0, width: '100%', height: '100%' },
                title: "",
                pieHole: 0.9,
                pieSliceBorderColor: "none",
               HtmlcoJsonlors: ['#0BC073', '#EFEFEF', '#EB5757', '#EFEFEF'],
                legend: {
                    position: "none"
                },
                pieSliceText: "percentage",
                tooltip: {
                    trigger: "none"
                }
Date            };

            var data1 = google.visualization.arrayToDataTable(
                [
                    ['Plagiarism', 'Percentage'],
                    ['Medium', 10],
                    ['', 90]
                ]);

            var options1 = {
                title: "",
                pieHole: 0.9,
                pieSliceBorderColor: "none",
                colors: ['#FB9818', '#EFEFEF'],
                legend: {
                    position: "none"
                },
                pieSliceText: "none",
                tooltip: {
                    trigger: "none"
                },
                width: larguraGraficoFora * furoGraficoFora,
                height: alturaGraficoFora * furoGraficoFora,
                chartArea: { left: 0, top: 0, width: '100%', height: '100%' },
                backgroundColor: 'transparent',
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchartPC'));
            var chart1 = new google.visualization.PieChart(document.getElementById('donutchartPC1'));
            chart.draw(data, options);
            chart1.draw(data1, options1);
            ajustePosicaoPieCentral(larguraGraficoFora, alturaGraficoFora, furoGraficoFora);
        }
        function ajustePosicaoPieCentral(largura, altura, furo) {

            yt = altura * (1 + furo) / 2.0;
            xt = largura * (1 - furo) / 2.0;

            var css = document.getElementById('donutchartPC1');
            css.style.transform = "translate(" + xt + "px, -" + yt + "px)";
        }
    </script>
}
<div class="statisticDesktop mt-5" style="display:flex">
    <div class="block col-7">
        <div class="row-form" style="display: inline-flex;margin-left: 5%;">
            <div class="titleDiv col-7">Number of completed tasks</div>

            <div class="col" style="font-size:12px">31/01/2022 - 06/02/2022</div>
        </div>
        <div id="curve_chartPC"></div>
    </div>
    <div class="col">
        <div class="block" style="padding: 5%;">
            <div style="display:flex">
                <div class="prog col">Progress</div>
                <div class="prog col">Remaining</div>
                <div class="prog col">Time spent</div>
            </div>
            <div style="display:flex">
                <div class="progVal col">@Model.Progress.Progress%</div>
                <div class="progVal col">@Model.Progress.Remaining hrs</div>
                <div class="progVal col">@Model.Progress.TimeSpent hrs</div>
            </div>
        </div>

        <div class="block">
            <div class="chartTitle">Task plagiarism</div>
            <div class="row mt-3">
                <div style="display:inline-flex">
                    <div class="plagiarismRangeActive col" style="white-space:nowrap">All time</div>
                    <div class="plagiarismRange col" style="white-space:nowrap">Month</div>
                    <div class="plagiarismRange col" style="white-space:nowrap">Year</div>
                </div>
            </div>
            <div class="row mt-3">
                @foreach (PlagiarismModel item in Model.Plagiarisms)
                {
                    <div id="@item.Range" style="display:none">
                        <div class="plagiarism col" style="white-space:nowrap">Low - @item.Low%</div>
                        <div class="plagiarism col" style="white-space:nowrap">Medium - @item.Medium%</div>
                        <div class="plagiarism col" style="white-space:nowrap">High - @item.High%</div>
                    </div>
                }
            </div>
            <div class="mt-5" style="display:flex">
                <div class="col" style=" height: 0px; margin-bottom: 35%; ">
                    <div>
                        <div id="donutchartPC">
                        </div>
                        <div id="donutchartPC1"></div>
                    </div>

                </div>
                <div class="col align-self-center">
                    <div class="row">
                        <div class="plagiarismEx col">
                            High
                        </div>
                        <div class="col">
                            <img src="~/img/highChart.svg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="plagiarismEx col">
                            Medium
                        </div>
                        <div class="col">
                            <img src="~/img/mediumChart.svg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="plagiarismEx col">
                            Low
                        </div>
                        <div class="col">
                            <img src="~/img/lowChart.svg" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="block">
            <div class="row-form" style="display: flex">

                <div class="chartTitle">Completed tasks</div>
            </div>
            <div class="row-form" style="display:flex;">
                <div class="col">
                    <div id="piechartPC"></div>
                </div>
                <div class="col">
                    <div class="mt-5" style="display:inline-flex">
                        <div class="col">Total</div>
                        <div class="col">Month</div>
                    </div>
                    <div class="mt-4" style="font-size:14px">Total amount of tasks 100</div>
                    <div class="mt-2" style="display:inline-flex">
                        <div class="col" style="display:flex">
                            <div class="col" style="padding-right: 0px;padding-left: 0px;"><img src="~/img/green.svg" /></div>
                            <div class="col align-self-center" style="padding-right: 0px; font-size: 12px">Completed</div>
                        </div>
                        <div class="col" style="display:flex">
                            <div class="col" style="padding-right:0px;padding-left: 0px;"><img src="~/img/purple.svg" /></div>
                            <div class="col align-self-center" style="padding-right: 0px; font-size: 12px">Uncompleted</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>